.img-thumb {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
  border: 1px grey solid;
  max-width: 500px;
}

.img-thumb img {
  float: left;
}

.txt-artist {
  font-size: 5vw;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 5px;
}
