<div class="txt-artist">{{artistName}}
<button mat-icon-button (click)="toggleFavorited()">

  <mat-icon
    *ngIf="favorited"
    aria-label="favorited button with a heart icon">
    favorite
  </mat-icon>

  <mat-icon
    *ngIf="!favorited"
    aria-label="favorited button with a heart icon">
    favorite_border
  </mat-icon>

</button>
</div>
<h2><a routerLink="/">Back to Home</a></h2>

<h2>Albums:</h2>
<div class="row container-scroll">
  <div *ngFor="let album of albums; let i = index" class="img-thumb">
    <img src={{album.thumbnail}}>
    <p>{{album.collectionName}}</p> <a routerLink="/album/{{album.collectionId}}">See details</a>
  </div>
</div>


