.input-search {
  margin-right: 15px;
}

.img-thumb {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
  border: 1px grey solid;
  max-width: 112px;
}

.img-thumb img {
  float: left;
}

.container-scroll {
  flex-wrap: nowrap;
  overflow-x: auto;
}

