h1 {
  display: inline;
  position: relative;
  font: 100px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: rgba(0,0,255,0.5);
}

h1:after {
  content: "DISCOVER";
  position: absolute; left: 10px; top: 5px;
  color: rgba(255,0,0,0.5);
}
